.navegacion {
  font-family: 'Arial', sans-serif;
  background-color: #052e1680;
  margin: 15px px 20px;
  border-radius: 0px;
  padding: 5px 120px;
  position: fixed;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px; /* Aumenta este número para dar más distancia */
}

.btn-nav {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #599f3d;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.3s;
}

.btn-nav-acceder {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  margin-right: 10px;
  transition: 0.3s;
}

.btn-nav a { text-decoration: none; color: rgb(255, 255, 255); font-weight: bold; }
.btn-nav-acceder a { text-decoration: none; color: rgb(27, 91, 39); font-weight: bold; }
.btn-nav:hover { background: #026e0b; transform: scale(1.05); }
.btn-nav-acceder:hover { background: #ffffff; transform: scale(1.05); box-shadow: 0px 8px 16px rgba(214, 215, 214, 0.248); }

.nav-extra-item:hover {
  text-shadow:
    0 0 5px #4e4e4e,
    0 0 10px #5a5a5a,
    0 0 20px #4e4e4e;
}


.divisor {
  width: 2px;
  height: 25px;
  background: rgba(255,255,255,0.4);
  margin: 0 15px;
}

.nav-extra-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 20px;
}

.nav-extra-item a {
  text-decoration: none;
  color: #f0f3f0;
  font-weight: bold;
}

.nav-extra-item a:hover,
.nav-extra-item .active {
    color: #89f098;
}

.icono-circulo {
  background: white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}